In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
# Notre matrice de base : 
X = [[12,    30,    80,  -100],
     [-1000, 12,    -23,  10],
     [14,    1000,  0,    0]]

# Version numpy : 
X = np.asarray(X)

# Version pandas : 
X = pd.DataFrame(X)

In [3]:
# On applique la methode .describe() pour avoir la moyenne et la .std(), et la méthode .round(2) pour arrondir à 2 décimales après la virgule : 
X.describe()

                 0            1          2           3
count     3.000000     3.000000   3.000000    3.000000
mean   -324.666667   347.333333  19.000000  -30.000000
std     584.856678   565.297562  54.064776   60.827625
min   -1000.000000    12.000000 -23.000000 -100.000000
25%    -494.000000    21.000000 -11.500000  -50.000000
50%      12.000000    30.000000   0.000000    0.000000
75%      13.000000   515.000000  40.000000    5.000000
max      14.000000  1000.000000  80.000000   10.000000

In [4]:
# On instancie notre scaler : 
scaler = StandardScaler()

# On le fit : 
scaler.fit(X)

# On l'entraine : 
X_scaled = scaler.transform(X) 

# On peut faire les 2 opérations en une ligne : 
X_scaled = scaler.fit_transform(X)

# On le transforme en DataFrame : 
X_scaled = pd.DataFrame(X_scaled)

# On peut appliquer la méthode .describe() et .round()
X_scaled.describe().round(2)

          0     1     2     3
count  3.00  3.00  3.00  3.00
mean   0.00  0.00  0.00  0.00
std    1.22  1.22  1.22  1.22
min   -1.41 -0.73 -0.95 -1.41
25%   -0.35 -0.71 -0.69 -0.40
50%    0.71 -0.69 -0.43  0.60
75%    0.71  0.36  0.48  0.70
max    0.71  1.41  1.38  0.81